/* Color Code */
.wsmainfull {
    background-color: #333;
  }
  
  .wsmenu>.wsmenu-list {
    background-color: #343a49;
  }
  
  .wsmobileheader {
    background-color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li>a {
    color: #ececec;
  }
  
  .wsmenu>.wsmenu-list>li>a .wsarrow:after {
    border-top-color: #616060;
  }
  
  .wsmenu>.wsmenu-list>li>a:hover .wsarrow:after {
    border-top-color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li>a.active .wsarrow:after {
    border-top-color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li:hover>a .wsarrow:after {
    border-top-color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li>a>i {
    color: #6f727b;
  }
  
  .wsmenu>.wsmenu-list>li>a.active i {
    color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li:hover>a>i {
    color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li>a:hover i {
    color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"] {
    color: #000;
  }
  
  .wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"] {
    color: #000;
  }
  
  .wsmenu>.wsmenu-list>li>a.active {
    color: #fff;
  }
  
  .wsmenu>.wsmenu-list>li:hover>a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
    color: #fff;
    background-color: #292b37;
  }
  
  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
    color: #fff;
    background-color: #292b37;
  }
  
  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {
    color: #fff;
    background-color: #292b37;
  }